[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
Django = "*"
django-seed = "*"
pillow = "*"

[requires]
python_version = "3.8"

[dev-packages]
black = "*"
flake8 = "*"

[pipenv]
allow_prereleases = true
